{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "array-bracket-spacing": ["error", "never"],
    "block-spacing": "error",
    "camelcase": "error",
    "comma-dangle": ["error", "never"],
    "comma-style": ["error", "last"],
    "computed-property-spacing": ["error", "never"],
    "curly": ["error", "all"],
    "indent": ["error", 4, {"SwitchCase": 1}],
    "key-spacing": ["error", {"beforeColon": true, "afterColon": true}],
    "no-empty": "error",
    "no-extra-parens": "error",
    "no-lonely-if": "error",
    "no-mixed-spaces-and-tabs": "error",
    "no-multi-spaces": "error",
    "no-multiple-empty-lines": ["error", {"max": 1}],
    "no-negated-condition": "error",
    "no-tabs": "error",
    "no-trailing-spaces": "error",
    "no-unneeded-ternary": "error",
    "no-unreachable": "error",
    "no-unused-vars": "error",
    "no-with": "error",
    "operator-linebreak": ["error", "after"],
    "padded-blocks": ["error", "never"],
    "prefer-const": "error",
    "semi": "error",
    "space-before-blocks": "error",
    "space-before-function-paren": ["error", "never"],
    "space-in-parens": "error",
    "yoda": "error"
  }
}
